.app-navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.login-form {
  font-family: Raleway, sans-serif;
}
.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.login-form .row {
  margin-left: 0;
  margin-right: 0;
}
.register-btn {
  margin-left: 50px;
}
