body{
  margin: 0;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #f5f8fa;
}
.error-label {
  color: red;
}
.ng-touched.ng-invalid,
.ng-dirty.ng-invalid {
  border-color: red;
}
