<div class="cotainer reg-form">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Reset password</div>
        <div class="card-body">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
              <label for="currentPassword" class="col-md-4 col-form-label text-md-right">Current password</label>
              <div class="col-md-6">
                <input type="password" id="currentPassword" class="form-control" [formControl]="currentPassword"
                       required
                >
              </div>

            </div>

            <div class="form-group row">
              <label for="newPassword1" class="col-md-4 col-form-label text-md-right">New password</label>
              <div class="col-md-6">
                <input type="password" id="newPassword1" class="form-control" [formControl]="newPassword1"
                       required
                       pattern="^(\S){6,}$"
                       maxlength="20"
                >
                <span class="col-md-4 col-form-label text-md-right error-label"
                      *ngIf="newPassword1.invalid && (newPassword1.dirty || newPassword1.touched)"
                >
                    Minimum length is 6. Password must not contain spaces
                  </span>
              </div>
            </div>

            <div class="form-group row">
              <label for="newPassword2" class="col-md-4 col-form-label text-md-right">Last name</label>
              <div class="col-md-6">
                <input type="password" id="newPassword2" class="form-control" [formControl]="newPassword2"
                       required
                       pattern="^(\S){6,}$"
                       maxlength="20"
                >
                <span class="col-md-4 col-form-label text-md-right error-label"
                      *ngIf="newPassword2.invalid && (newPassword2.dirty || newPassword2.touched)"
                >
                    Minimum length is 6. Password must not contain spaces
                  </span>
              </div>
            </div>

            <div class="col-md-6 offset-md-4">
              <span class="col-md-4 col-form-label text-md-right error-label"
                    *ngIf="!isNewPasswordsMatched &&
                    (newPassword1.dirty || newPassword1.touched || newPassword2.dirty || newPassword2.touched)"
              >
                Passwords not matched
              </span>
              <button type="submit" class="btn btn-success" [disabled]="resetPasswordForm.invalid || !isNewPasswordsMatched()">
                Update
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
